name: Converte Issues para Docs

on:
  issues:
    types:
      - edited
  workflow_dispatch:

jobs:
  issue_to_markdown:
    runs-on: ubuntu-latest
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - uses: eunjae-lee/issue-to-markdown@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          dest: "doc"

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: 'docs: update doc'
